<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Info</title>
</head>
<body>
    <nav>
        <a href="/store">Back to Store List</a>
    </nav>
    <h3><%= myProds.name %></h3>
    <p>Description: <%= myProds.description %></p>
    <p>Price: $ <%= myProds.price%></p>
    <p>Quantity: <%= myProds.qty%> left</p>
    <!-- <p>Image: <%= myProds.img%> </p> -->
<img src="<%=myProds.img%>">
</body>
</html>